########################################################
# DragonStreams 
########################################################
@IF(@PARAM1@!=Channels)@
@IF(@PARAM1@!=Streams)@

########################################################
title=[COLOR=FF00FF00]Sportsnet Navi-X[/COLOR]
cfg=Various/navix.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream1.jpg
url=http://www.navixtreme.com/wiilist/133069/sportsnet.plx
########################################################
#title=[COLOR=FF00FF00]Halow TV Navi-X[/COLOR]
#cfg=Various/navix.cfg@Streams
#icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream1.jpg
#url=http://www.navixtreme.com/wiilist/135706/sport_channelshalow_tv.plx
########################################################
#title=[COLOR=FF00FF00]Sportshub Reloaded Navi-X[/COLOR]
#cfg=Various/navix.cfg@Streams
#icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream1.jpg
#url=http://www.navixtreme.com/wiilist/145903/sportshub_reloaded_2.0.plx
########################################################
title=[COLOR=FF00FF00]AnisotropicTV Navi-X[/COLOR]
cfg=Various/navix.cfg@Streams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream1.jpg
url=http://www.navixtreme.com/wiilist/136690/sports_tv_hd_back_in_the_game_anisotropictv.plx
########################################################
#title=[COLOR=FF00FF00]World Cams Navi-X[/COLOR]
#cfg=Various/navix.cfg@Streams
#icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Stream1.jpg
#url=http://www.navixtreme.com/wiilist/146122/live_streams.plx
########################################################


@ENDIF@
@ENDIF@

@IF(@PARAM1@==Streams)@
skill=videoTitle

item_infos=name=(.+?)\nthumb=(.+?)\nURL=(.+?)\n
item_order=title|icon|url
item_skill=rss

item_info_name=cfg
item_info_build=Various/navix.cfg@Streams

item_info_name=type
item_info_build=video

item_url_build=%s


           
           
